# vim: set ft=ansible:
---
- name: Create group for infra hosts in this env only
  hosts: localhost
  gather_facts: no
  connection: local
  sudo: no
  vars:
    infra_hosts: "{{ groups['tag_node-region_infra'] | intersect(groups['tag_env_' ~ cluster_id]) }}"
  tasks:
  - add_host:
      name: "{{ infra_hosts.0 }}"
      groups: oo_infra_nodes

- name: Create group for demo hosts in this env only
  hosts: localhost
  gather_facts: no
  connection: local
  sudo: no
  vars:
    demo_hosts: "{{ groups['tag_node-region_demo'] | intersect(groups['tag_env_' ~ cluster_id]) }}"
  tasks:
  - add_host:
      name: "{{ demo_hosts.0 }}"
      groups: oo_demo_nodes

- name: Verify node host groups have core ansible facts
  hosts: oo_infra_nodes:oo_demo_nodes

- name: Node post config
  hosts: oo_nodes_to_config
  vars_files:
  - ../vars.yml
  tasks:
  - lineinfile:
      dest: /etc/sysconfig/docker
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    with_items:
    - regexp: INSECURE_REGISTRY=
      line: INSECURE_REGISTRY='--insecure-registry 0.0.0.0/0'
    - regexp: GOMAXPROCS=
      line: GOMAXPROCS={{ ansible_processor_cores }}
    register: docker_conf

  - name: restart docker
    service:
      name: docker
      state: restarted
    when: docker_conf | changed

  - lineinfile:
      dest: /etc/resolv.conf
      insertbefore: ^nameserver 172.*$
      line: nameserver {{ hostvars[groups.oo_first_master.0].openshift.dns.ip }}
      state: present

  - lineinfile:
      dest: /etc/dhcp/dhclient-eth0.conf
      line: prepend domain-name-servers {{ hostvars[groups.oo_first_master.0].openshift.dns.ip }}
      state: present
      create: yes

  - name: pre-pull images
    command: "docker pull {{ item }}"
    with_items: preload_images
  handlers:
    - name: restart openshift-node
      service: name=openshift-node state=restarted

- name: First master post config
  hosts: oo_first_master
  vars_files:
  - ../vars.yml
  vars:
    proxy:
      app_name: sketch
      name: sketchproxy
      project: default
      region: demo
    users:
    - name: demo
      project: demo
    - name: "{{ prime_user }}"
      project: "{{ prime_namespace }}"
    default_context: '{{ "default/" ~ (hostvars[groups.oo_first_master.0].openshift.common.hostname | regex_replace("\.", "-")) ~ ":" ~ hostvars[groups.oo_first_master.0].openshift.master.api_port ~ "/system:admin" }}'
  tasks:
  - name: Create the default users
    command: "htpasswd -b /etc/openshift/master/htpasswd {{ item.name }} {{ default_password }}"
    with_items: users

  - command: oc project default

  - name: Set nodeselector for the default project to be region=infra
    shell: "oc get namespace default -o yaml  | sed -e '/  annotations:/a\\    openshift.io/node-selector: region=infra' | oc replace -f -"

  - name: Verify whether a router exists or not
    command: oadm router --dry-run --service-account=router
    register: router_out
    ignore_errors: true

  - name: Create router cert temporary directory
    file:
      dest: "~{{ ansible_ssh_user }}/router_certs"
      state: directory
    when: router_out | failed

  - name: Generate router certificate files
    command: "oadm create-server-cert --signer-cert=/etc/openshift/master/ca.crt --signer-key=/etc/openshift/master/ca.key --signer-serial=/etc/openshift/master/ca.serial.txt --hostnames='*.{{ r53_wildcard_zone }}' --cert={{ r53_wildcard_zone }}.crt --key={{ r53_wildcard_zone }}.key"
    when: router_out | failed

  - name: Assemble router PEM
    assemble:
      dest: "~{{ ansible_ssh_user }}/{{ r53_wildcard_zone }}.pem"
      src: "~{{ ansible_ssh_user }}/router_certs"
    when: router_out | failed

  - name: Install router
    command: "oadm router --default-cert={{ r53_wildcard_zone }}.pem --credentials=/etc/openshift/master/openshift-router.kubeconfig --service-account=router"
    when: router_out | failed

  - name: Check whether a registry exists or not
    command: oadm registry --dry-run
    register: registry_out
    ignore_errors: true

  - name: Install registry
    command: "oadm registry --credentials=/etc/openshift/master/openshift-registry.kubeconfig --images='{{ registry_image_url }}'"
    when: registry_out | failed

  - name: Set registry GOMAXPROCS
    command: oc env dc/docker-registry GOMAXPROCS={{ hostvars[groups.oo_infra_nodes.0].ansible_processor_cores }}

  - name: Wait for 60 seconds for registry to re-deploy
    pause: minutes=1

  - name: Find current projects list
    command: oc get projects
    register: projects

  - name: Create projects for internal users
    command: "oadm new-project {{ item.project }} --display-name='{{ item.project.title() }}' --node-selector='region={{ item.project }}' --admin='{{ item.name }}'"
    when: item.project not in projects.stdout
    with_items: users

  - command: oc project default

  - command: oc get dc -n {{ hexboard.namespace }}
    register: dcs_out
    failed_when: "hexboard.name not in dcs_out"
    ignore_errors: true

  - command: oc login -u {{ users.0.name }} -p {{ default_password }} --certificate-authority=/etc/openshift/master/ca.crt
    when: dcs_out | failed

  - script: ../files/get_token.sh
    register: auth_token
    when: dcs_out | failed

  - set_fact:
      access_token: "{{ auth_token.stdout }}"
    when: dcs_out | failed

  - command: oc project {{ hexboard.namespace }}
    when: dcs_out | failed

  - template:
      dest: /root/hexboard_template.json
      src: ../templates/hexboard_template.json.j2
    when: dcs_out | failed

  - command: oc create -f /root/hexboard_template.json
    when: dcs_out | failed
    ignore_errors: true

  - command: oc start-build {{ hexboard.name }}
    when: dcs_out | failed

  - command: "oc config use-context {{ default_context }}"
    when: dcs_out | failed

  - command: oc project default

  # because of a bug in Ansible and Jinja templating, we have to do this as a script
  - name: Deploy registry inspection script
    template:
      dest: /tmp/registry.sh
      src: ../templates/registry.sh.j2
      mode: 0755

  - command: /tmp/registry.sh
    register: registry_uri_out

  - set_fact:
      registry_uri: "{{ registry_uri_out.stdout }}"

  handlers:
    - name: restart openshift-master
      service: name=openshift-master state=restarted

- name: Node post config
  hosts: oo_demo_nodes[0]
  vars_files:
  - ../vars.yml
  vars:
    registry_uri: "{{ hostvars[groups.oo_first_master.0].registry_uri }}"
    default_context: '{{ "default/" ~ (hostvars[groups.oo_first_master.0].openshift.common.hostname | regex_replace("\.", "-")) ~ ":" ~ hostvars[groups.oo_first_master.0].openshift.master.api_port ~ "/system:admin" }}'
  tasks:
  - command: docker pull {{ item.prefix }}/{{ item.image }}:{{ item.tag }}
    with_items: prime_images

  - command: docker tag -f {{ item.prefix }}/{{ item.image }} {{ registry_uri }}/{{ prime_namespace }}/{{ item.image }}:{{ item.tag }}
    with_items: prime_images

  - command: oc login --insecure-skip-tls-verify -u {{ prime_user }} -p {{ default_password }} {{ hostvars[groups.oo_first_master.0].openshift.master.api_url }}

  - command: oc whoami -t
    register: token_result

  - command: "oc config use-context {{ default_context }}"
    when: inventory_hostname == groups.oo_first_master.0

  - command: oc project default
    when: inventory_hostname == groups.oo_first_master.0

  - command: docker login -u {{ prime_user }} -e {{ prime_user }}@{{ prime_namespace }}.local -p {{ token_result.stdout }} {{ registry_uri }}

  - command: docker push {{ registry_uri }}/{{ prime_namespace }}/{{ item.image }}:{{ item.tag }}
    with_items: prime_images

  - command: docker logout

