apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "{{ pv_name }}" 
spec:
  capacity:
    storage: "{{ capacity }}Gi" 
  accessModes:
    - ReadWriteOnce
    - ReadWriteMany
  awsElasticBlockStore: 
    fsType: "ext4" 
    volumeID: "{{ volid }}"
